SLACK_APP_TOKEN=
SLACK_BOT_TOKEN=

POSTGRES_PASSWORD=password
POSTGRES_USER=user
POSTGRES_DATABASE=standup-bot

DATABASE_URL="postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DATABASE}"

AI_API_KEY=
AI_API_URL="https://api.groq.com/openai/v1"
